@import 'https://fonts.googleapis.com/css?family=Raleway:400,600,700';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@font-face {
  font-family: 'BigNoodleTitling';
    src:  url('../fonts/BigNoodleTitling.ttf.woff') format('woff'),
    url('../fonts/BigNoodleTitling.ttf.svg#BigNoodleTitling') format('svg'),
    url('../fonts/BigNoodleTitling.ttf.eot'),
    url('../fonts/BigNoodleTitling.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Nexa';
	src: url('../fonts/NexaBold.eot');
	src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NexaBold.woff') format('woff'),
		url('../fonts/NexaBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
  outline:0;
}

body {
  font-family: 'Raleway', sans-serif;
  color:#2f2f2f;
}

a, a:visited {
  color:#2f2f2f;
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -ms-transition:     all 0.3s ease;
  -o-transition:      all 0.3s ease;
}

a:hover {
  color:#87c954 !important;
  text-decoration:none;
}

p {
  font-size:16px;
  color:#2f2f2f;
}

h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size:23px;
  color:#2f2f2f;
  font-weight:700;
  margin-top:8px;
  margin-left:25px;
  float:left;
}

h4 {
  color:#FFFFFF;
  font-size:20px;
}

label, .select-label {
  font-weight:400;
  width:100%;
  margin-top:15px;
}

input, input:focus, textarea {
  border:none;
  border-bottom:1px solid #a9a8a8;
  width:220px;
  background:transparent;
}

textarea:focus, input:focus{
    outline: none;
}

label input {
  margin-left:20px;
}

button {
  background:#9bb606;
  font-size:14px;
  font-family: 'Nexa';
  color:#FFFFFF;
  border-radius:5px;
  border:none;
  border-bottom:3px solid #8e9b44;
  padding:10px 40px 7px 40px;
  float:right;
  margin-top:60px;
}

button:disabled {
  opacity:.5;
}

.main-content h2 {
  color:#9bb606;
  font-size:34px;
  font-weight:700;
}

.top-bar {
  background:#94d561;
  font-family: 'BigNoodleTitling';
  color:#649d34;
  width:100%;
  display:block;
  font-size:26px;
  text-align:center;
  padding:8px 0;
}

.top {
  padding:15px 0;
}

.logo, .footer-logo {
  text-indent:-10000em;
  background:url(../images/logo.png) no-repeat;
  width:315px;
  height:65px;
  display:inline-block;
  float:left;
  max-width:100%;
}

.footer-links {
  background:#1d1d1d;
  float:left;
  width:100%;
}

.footer-logo {
  background:url(../images/logo-footer.png) no-repeat;
}

.menu {
  list-style:none;
  padding:0;
  float:left;
  font-family: 'Nexa';
  font-size:13px;
  margin-left:15px;
  margin-bottom:0;
}

.menu li {
  float:left;
  margin-top:10px;
  padding:15px 30px;
  border-right:1px solid #e7e9e9;
}

.menu li:last-child {
  border:none;
}

.menu a {
  color:#696969;
}

.main-content {
  width:100%;
  float:left;
}

.form-container {
  background:url(../images/form-bg.png) repeat-y;
  background-position:top left;
}

.form-container h2 {
  margin-top:158px;
  margin-bottom:118px;
  margin-left:90px;
}

.form-container .col-md-2 h2 {
  margin-left:0px;
  margin-top:0px;
}

.circle-header {
  float:left;
  width:44px;
  height:44px;
  font-family: 'Raleway', sans-serif;
  color:#FFFFFF;
  background:#9bb606;
  border-radius:50%;
  font-size:22px;
  font-weight:600;
  text-align:center;
  padding-top:5px;
  margin-left:90px;
}

.form-container .col-md-10 {
  background:#FFFFFF;
}

.form-box {
  float:left;
  width:100%;
  margin:22px;
}

.form-box {
  border-left:2px solid #cbd97d;
  padding:5px 0 25px 44px;
  margin-left:112px;
}

.small-text {
  font-size:10px;
  margin-top:20px;
  float:left;
  width:100%;
}

.form-sidebar h2 {
  text-align:center;
  color:#FFFFFF;
}

.form-container p {
  font-size:14px;
  margin-top:20px;
  float:left;
  margin-left:134px;
  margin-top:-10px;
}

.form-container p a {
  color:#2f2f2f;
}

.form {
  padding-bottom:40px;
  float:left;
  width:100%;
  border-bottom:1px solid #a9a8a8;
  margin-bottom:85px;
}

.form-container .row:first-child .form-sidebar h2 {
  text-align:center;
  color:#FFFFFF;
  margin-top:158px;
}

.long-input {
  width:602px;
  max-width:100%;
}

.form-container .row:last-child .form {
  border:none;
  margin-bottom:0;
}

.contact-bar {
  background:#2f2f2f;
  display:block;
  width:100%;
  float:left;
  padding:48px 0;
}

.contact-bar p {
  color:#888178;
  line-height:24px;
  margin-top:15px;
}

.contact-bar .big-text {
  color:#cddc39;
  font-size:36px;
  font-family: 'Montserrat';
  font-weight:700;
}

.footer-links {
  padding:75px 0;
}

.footer-links .row div:first-child p {
  font-weight:400;
  line-height:22px;
}

.footer-links p {
  display:block;
  width:100%;
  float:left;
  color:#747474;
  margin-top:25px;
  font-weight:600;
  line-height:30px;
}

.footer-links h4 {
  font-size:14px;
  font-weight:700;
}

.footer-links ul {
  list-style:none;
  padding:0;
  margin-top:40px;
}

.footer-links li {
  margin-top:10px;
}

.footer-links a {
  color:#747474;
  font-weight:600;
  font-size:16px;
}

footer {
  background:#141414;
  float:left;
  width:100%;
}

footer p {
  margin:28px 0;
  float:left;
  color:#434343;
  font-family: 'Montserrat';
  font-weight:700;
}

.social-icons {
  list-style:none;
  padding:0;
  margin:0;
  float:left;
}

.social-icons li {
  float:left;
  margin-top:24px;
  margin-left:42px;
}

.facebook-top {
  background:url(../images/facebook-top.png) no-repeat;
  width:8px;
  background-size:cover;
  height:16px;
  display:block;
  text-indent:-10000em;
}

.twitter-top {
  background:url(../images/twitter-top.png) no-repeat;
  width:20px;
  background-size:cover;
  height:16px;
  display:block;
  text-indent:-10000em;
}

.linkedin-top {
  background:url(../images/linkedin-top.png) no-repeat;
  width:16px;
  background-size:cover;
  height:16px;
  display:block;
  text-indent:-10000em;
}

.blogger-top {
  background:url(../images/blogger-top.png) no-repeat;
  width:16px;
  background-size:cover;
  height:16px;
  display:block;
  text-indent:-10000em;
}

.social-links-bottom {
  margin-top:25px;
  padding:0;
  list-style:none;
}

.social-links-bottom li {
  float:left;
  margin-right:3px;
}

.social-links-bottom a {
  width:23px;
  height:23px;
  display:block;
  text-indent:-10000em;
}

.social-links-bottom .linkedin-bottom {
  background:url(../images/linkedin-bottom.png) no-repeat;
  background-size:cover;
}

.social-links-bottom .facebook-bottom {
  background:url(../images/facebook-bottom.png) no-repeat;
  background-size:cover;
}

.social-links-bottom .google-bottom {
  background:url(../images/google-bottom.png) no-repeat;
  background-size:cover;
}

.social-links-bottom .twitter-bottom {
  background:url(../images/twitter-bottom.png) no-repeat;
  background-size:cover;
}

.social-links-bottom .youtube-bottom {
  background:url(../images/youtube-bottom.png) no-repeat;
  background-size:cover;
}

.nice-select {
  float:none !important;
  display:inline-block !important;
  margin-left: 20px;
  border: solid 1px #9bb606 !important;
  height: 36px !important;
  line-height: 34px !important;
  min-width:200px !important;
  background:transparent !important;
}

.nice-select:after {
  border-bottom: 2px solid #9bb606 !important;
  border-right: 2px solid #9bb606 !important;
}

.select-label label {
  width:auto;
  margin-top:0;
  margin-right:10px;
}

.iradio_minimal {
  margin-right:10px !important;
}

.main-banner {
  width:100%;
  float:left;
  background:url(../images/main-banner-bg.jpg) no-repeat;
  min-height:577px;
  background-size:cover;
  transition: background 1s linear;
  -moz-transition: background 1s linear; /* Firefox 4 */
  -webkit-transition: background 1s linear; /* Safari and Chrome */
  -o-transition: background 1s linear; /* Opera */
  position:relative;
}

.main-banner .container-fluid {
  padding-left:55px;
}

.banner-subpage {
  height:375px;
  min-height:375px;
  background:url(../images/main-banner-bg4.jpg) no-repeat;
  background-position:center center;
  background-size:cover;
}

.banner-subpage h2 {
  margin-top:140px;
  font-weight:bold;
  font-size:48px;
  text-transform:uppercase;
}

.subpage h3 {
  width:100%;
  margin-left:0;
  float:left;
  margin-bottom:40px !important;
}

.banner-box {
  width:100%;
  border-radius:5px;
  background:#383737;
  text-align:center;
  margin-top:80px;
}

.banner-box .button, .banner-box .button:visited, .banner-box .button-small, .banner-box .button-small:visited, .homepage-content .button, .homepage-content .button:visited  {
  margin:0 auto;
  width:80%;
  background:#a6e773;
  border-radius:5px;
  display:inline-block;
  margin-top:23px;
  margin-bottom:23px;
}

.banner-box .button:hover, .banner-box .button-small:hover {
  background:#cbf3ac;
}

.homepage-content .button {
  width: 141px;
  height: 53px;
  border-radius: 5px;
  background-color: #a6e773;
  box-shadow: 0 2px 3px rgba(109,158,71,.75), inset 0 1px rgba(162,244,98,.75);
  display: inline-block;
  text-align: center;
  color: #437618;
  font-family: 'Nexa';
  padding-top: 17px;
  font-size: 14px;
  float: left;
}

.button-small {
  width:50% !important;
}

.button .icon {
  padding:13px;
  float:left;
  border-right:1px solid #8dc55f;
}

.button .button-text {
  margin-top:15px;
  font-size:15px;
  font-weight:600;
  display:inline-block;
  color:#55892a;
}

.button-small .icon {
  padding:9px;
  float:left;
  border-right:1px solid #8dc55f;
}

.button-small .button-text {
  font-size:12px;
  margin-top:11px;
  font-weight:600;
  display:inline-block;
  color:#55892a;
}

.banner-box h3 {
  background:#9fd83d;
  width:100%;
  display:block;
  margin:0;
  font-size:13px;
  text-align:center;
  color:#FFFFFF;
  font-family: 'Nexa';
  padding:18px 0;
}

.banner-box h2 {
  background:#91c856;
  width:100%;
  display:block;
  margin:5px 0 25px;
  font-size:20px;
  text-align:center;
  color:#FFFFFF;
  font-family: 'Nexa';
  padding:27px 0 19px 0;
  float:left;
}

.banner-box h2:after {
    content:'';
    position: absolute;
    bottom:102px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-top: solid 10px #91c856;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.icon-row {
  background:#f8f8f8;
  float:left;
  width:100%;
  padding:40px 0 75px;
}

.icon-row h2 {
  color:#FFFFFF;
  font-size:24px;
  margin-bottom:60px;
}

.input-group-addon {
  border:none;
  background:#ebebeb;
}

.input-group .form-control {
  border-left:none;
}

.input-group {
  width:80%;
  margin:0 auto;
  margin-top:25px;
}

.input-group-addon {
  padding-top:10px !important;
  padding-bottom:10px !important;
}

.banner-box p {
  color:#fefffe;
  margin:7px 0 30px 0;
  display:inline-block;
  width:100%;
  font-size:9px;
  font-family: 'Montserrat';
  font-weight:400;
}

.form-control {
  box-shadow:none !important;
  border:1px solid #FFFFFF;
  padding: 10px 12px;
  height:38px;
}

.banner-content h2 {
  font-size:26px;
  color:#FFFFFF;
  font-weight:700;
  margin-top:50px;
  margin-left:10px;
}

.checkmark-list {
  list-style:none;
  padding:0;
  color:#99dc60;
  font-size:18px;
  font-weight:700;
  margin:30px 0 30px 10px;
}

.checkmark-list li {
  background:url(../images/checkmark.png) no-repeat;
  background-position:left center;
  padding-top:2px;
  padding-left:18px;
}

.banner-content p {
  font-weight:600;
  color:#313131;
  font-size:17px;
  max-width:450px;
  margin-left:10px;
}

.green-text {
  color:#99dc60 !important;
  margin-left:10px;
}

.banner-content .green-text {
  font-size:18px;
  line-height:24px;
  margin:30px 0 30px 10px;
}

.banner-content .fill-form {
  color:#FFFFFF;
  font-size:18px;
  font-weight:400;
  max-width:340px;
  margin-bottom:25px;
  margin-left:10px;
}

.banner-content .button, .banner-content .button:visited {
	width: 141px;
	height: 53px;
	border-radius: 5px;
	background-color: #a6e773;
	-webkit-box-shadow: 0 2px 3px rgba(109,158,71,.75), inset 0 1px rgba(162,244,98,.75);
	-moz-box-shadow: 0 2px 3px rgba(109,158,71,.75), inset 0 1px rgba(162,244,98,.75);
	box-shadow: 0 2px 3px rgba(109,158,71,.75), inset 0 1px rgba(162,244,98,.75);
  display:inline-block;
  text-align:center;
  color:#437618;
  font-family: 'Nexa';
  padding-top:17px;
  font-size:14px;
  float:left;
  margin-left:10px;
}

.banner-content .button:hover {
  background:#cbf3ac;
  color:#437618 !important;
}

.call-text {
  font-size:24px;
  color:#FFFFFF;
  font-family: 'Montserrat';
  font-weight:400;
  display:block;
  width:100%;
  margin-top:10px;
  margin-left:10px;
  float:left;
}

.banner-content .small-text {
  font-family: 'Nexa';
  font-size:18px;
  color:#FFFFFF;
  float:left;
  margin-top:15px;
}

.icon-box {
  text-align:center;
}

.icon-box p {
  font-size:20px;
  font-weight:600;
  color:#3d3d3d;
  max-width:250px;
  margin:30px auto 0;
}

.homepage-content h2 {
  font-size:26px;
  width:100%;
  text-align:center;
  font-weight:600;
  margin:80px 0 65px;
  float:left;
}

.homepage-content h3, .customers-saying h3 {
  color:#5b5b5b;
  font-weight:400;
  font-size:21px;
  text-align:center;
  line-height:30px;
  margin-bottom:80px;
}

.homepage-content h4 {
  font-size:18px;
  color:#87c954;
  font-weight:700;
  margin-top:25px;
}

.homepage-content p {
  font-size:17px;
  max-width:300px;
  color:#5b5b5b;
}

.circle-small {
  background:rgba(183, 223, 25, .75);
  background-blend-mode: color-dodge;
  color:#FFFFFF;
  width:128px;
  height:128px;
  display:block;
  text-align:center;
  font-family: 'Montserrat';
  font-size:20px;
  border-radius:50%;
  position:absolute;
  top:40px;
  left:260px;
  padding-top:40px;
  line-height:26px;
}

.circle-big {
  background:rgba(183, 223, 25, .75);
  background-blend-mode: color-dodge;
  color:#FFFFFF;
  width: 288px;
  height: 288px;
  display:block;
  text-align:center;
  font-family: 'Montserrat';
  font-size:18px;
  line-height:25px;
  border-radius:50%;
  position:absolute;
  top:75px;
  left:355px;
  padding: 50px 48px;
}

.center {
  text-align:center;
}

.top-services {
  width:100%;
  float:left;
  background:#f6f6f6;
  padding:50px 0 70px 0;
}

.top-services h4 {
  color:#3d3d3d;
  font-size:18px;
  font-weight:700;
  line-height:18px;
  margin-top:18px;
  display:inline-block;
}

.top-services .button {
  color:#9e9e9e;
  border:1px solid #b6b6b6;
  border-radius:5px;
  font-size:18px;
  line-height:18px;
  padding:17px 22px;
  margin-bottom:55px;
}

.top-services div a img {
  margin-bottom:28px;
}

.top-services .col-sm-3 a {
  width:100%;
  background:#FFFFFF;
  float:left;
  text-align:center;
  font-size:18px;
  line-height:18px;
  font-weight:600;
  color:#3d3d3d;
  padding-bottom:28px;
}

.how-it-works {
  width:100%;
  min-height:645px;
  float:left;
  padding:90px 0;
  background:url(../images/how-it-works-bg.jpg) no-repeat;
  background-position:center center;
  background-size:cover;
  text-align:center;
}

.how-it-works h2 {
  font-size:26px;
  margin-top:0;
  color:#3d3d3d;
  font-weight:600;
}

.video-container {
  width:50%;
  height:325px;
  background:#FFFFFF;
  padding:10px;
  border-radius:5px;
  display:inline-block;
  margin:0 auto;
  margin-top:70px;
}

.video-container iframe {
  width:100%;
  height:305px;
  display:block;
}

.customers-saying {
  width:100%;
  float:left;
  min-height:691px;
  background:url(../images/customers-saying-bg.jpg) no-repeat;
  background-size:cover;
  text-align:center;
  padding-bottom:160px;
}

.customers-saying h2 {
  margin-top:150px;
  font-size:26px;
  color:#3d3d3d;
  font-weight:600;
  margin-bottom:30px;
}

.customers-saying h3 {
  float:none;
}

.customers-saying h3:after {
  width:39px;
  height:32px;
  display:block;
  background:url(../images/quote.png) no-repeat;
  content:'';
  position: absolute;
  left: 50%;
  margin-left: -20px;
  margin-top:40px;
}

.testimonials {
  margin-top:50px;
  float:left;
  width:100%;
}

.testimonials p {
  font-size:18px;
  color:#5b5b5b;
  margin-bottom:0;
}

.customer {
  margin-top:65px;
}

.customer p {
  color:#5b5b5b;
  font-size:21px;
  margin-bottom:0;
}

.customer span {
  font-size:15px;
  color:#5b5b5b;
  font-weight:700;
}

.slick-dots {
  margin-top:44px;
}

.logo-row {
  padding:30px 0;
  float:left;
  width:100%;
}

.logo-row ul {
  list-style:none;
  padding:0;
  margin:0;
  float:left;
  width:100%;
  text-align:center;
}

.logo-row li {
  display:inline-block;
  margin:0 40px;
  text-align:center;
}

.logo-row li a {
  font-size:36px;
  line-height:36px;
}

.slick-next {
  display:none !important;
}

.apply-link {
  background:#94d561;
  width:100%;
  display:block;
  text-align:center;
  font-size:40px;
  line-height:30px;
  float:left;
  font-family: 'BigNoodleTitling';
  color:#649d34;
  padding:30px 0;
}

.apply-link:hover {
  color:#FFFFFF !important;
  background:#649d34 !important;
}

.apply-link-v2 {
  border:2px solid #649d34;
  display:inline-block;
  text-align:center;
  font-size:30px;
  line-height:30px;
  font-family: 'BigNoodleTitling';
  color:#649d34;
  padding:30px 60px;
  border-radius:5px;
  margin:60px auto 0 auto;
}

.apply-link-v2:hover {
  color:#FFFFFF !important;
  background:#649d34 !important;
}

.luxury-assets-link {
  background:#94d561;
  width:100%;
  display:block;
  text-align:center;
  font-size:20px;
  line-height:30px;
  float:left;
  font-family: 'BigNoodleTitling';
  color:#649d34;
  padding:15px 0;
}

.luxury-assets-link:hover {
  color:#FFFFFF !important;
  background:#649d34 !important;
}

.center-box {
  text-align:center;
  width:100%;
  float:left;
}

.top-bg {
  background:url(../images/form-top-bg.jpg) no-repeat;
  background-size:cover;
  width:100%;
  background-position:right center;
}

.top-bg-v2 {
  background:url(../images/form-top-bg-v2.jpg) no-repeat;
  background-size:cover;
  width:100%;
  background-position:right center;
}

.select-label span {
  margin-right:10px;
}

.top-bg-v2 h2 {
  margin-left:90px;
  margin-top:40px;
  margin-bottom:40px;
}

.home-v3 .main-banner .container-fluid {
  padding:0 130px;
}

.home-v3 .icon-row {
  background:#91c856;
  border-top:2px solid #FFFFFF;
  border-bottom:2px solid #FFFFFF;
}

.home-v3 .circle-icon {
  background:#FFFFFF;
  border-radius:50%;
  border:12px solid #b7e990;
  width:140px;
  height:140px;
  padding-top:20px;
  display:inline-block;
  text-align:center;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
}

.home-v3 .icon-box {
  border-right:1px solid rgba(255,255,255,.25);
  min-height:260px;
}

.home-v3 .icon-box:after {
  position:absolute;
  display:block;
  content:'';
  height:260px;
  background:rgba(0,0,0,.10);
  width:1px;
  right:0;
  top:0;
}

.home-v3 .icon-box:last-child {
  border:none;
}

.home-v3 .icon-box:last-child:after {
  display:none;
}

.home-v3 .icon-box:nth-child(1) .circle-icon {
  border-top:12px solid #94d561;
}

.home-v3 .icon-box:nth-child(2) .circle-icon {
  border-top:12px solid #94d561;
  border-right:12px solid #94d561;
}

.home-v3 .icon-box:nth-child(3) .circle-icon {
  border-top:12px solid #94d561;
  border-right:12px solid #94d561;
  border-bottom:12px solid #94d561;
}

.home-v3 .icon-box p {
  color:#FFFFFF;
}

.home-v3 .circle-icon img {
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
}

.icon-row-v4 {
  background:#f0f0f0 !important;
}

.icon-row-v4 .circle-icon {
  border:none !important;
  background:none;
}

.icon-row-v4 .icon-box {
  border:none !important;
}

.icon-row-v4 .icon-box:after {
  display:none;
}

.icon-row-v4 p {
  font-family: 'Raleway', sans-serif;
  color: #2f2f2f !important;
  border-top:1px solid rgba(255,255,255,.25);
  padding-top:50px;
}

.icon-row-v4 p:before {
  position:absolute;
  display:block;
  content:'';
  height:1px;
  background:rgba(0,0,0,.10);
  width:260px;
  margin-top:-50px;
}

.phone-top {
  color:#87c954 !important;
}

.phone-top:before {
  content:'/';
  color:#eaeaea;
  margin:0 10px;
}

.subpage h2 {
  margin: 40px 0 25px;
}

.subpage p {
  font-size:17px;
  max-width:100%;
}

.bottom-link, .bottom-link:visited, .bottom-link:focus {
  color: #cc2c32;
  font-weight:700;
  float:left;
  margin-left:10px;
  font-size:18px;
}

.form-message, .owner-occupied-message {
  border:1px solid #cc2c32;
  border-radius:5px;
  float:left;
  margin-left: 112px;
  padding:15px;
  text-align:center;
  margin-top:30px;
}

.owner-occupied-message {
  margin-left:0px;
  margin-bottom:20px;
}

.form-message p, .owner-occupied-message p {
  margin-bottom:0;
}

.icon-row h2 span {
  display:block;
  font-size:16px;
  margin-top:10px;
}

.media-left span {
  width:80px;
  height:80px;
  border:6px solid #91c856;
  border-radius:50%;
  display:inline-block;
  text-align:center;
  font-size:40px;
  line-height:60px;
  margin-right:30px;
}

.media-body h3 {
  text-align:left;
  color:#87c954;
  margin-bottom:0 !important;
}

.media-body p {
  margin-top:0;
}

.panel-title {
  margin:10px 0 !important;
}

.contact-form input, .contact-form textarea {
  width:100%;
  margin-bottom:20px;
}

.contact-form button {
  margin-top:0px;
}

.panel-body {
    font-size: 16px;
    line-height: 27px;
}

.top-bg-v2 .col-md-2 h2 {
  margin-left:0;
}

.big-text span {
  display:block;
  font-size:24px;
}

.helpful-links {
  padding-left:60px;
}

.font-change {
  float:left;
  font-size:18px;
  font-weight:700;
  font-family: 'Nexa';
  position:relative;
  margin-left:20px;
  padding:4px 5px 0 5px;
  line-height:18px;
  border:1px solid #e7e9e9;
  color:#696969 !important;
  margin-top:20px;
  border-radius:5px;
}

body.big-font p {
  font-size:20px;
}

body.big-font .menu {
  font-size:17px;
}

body.big-font .menu li {
  padding:10px 20px;
}

body.big-font .banner-content h2 {
  font-size:34px;
  margin-top:40px;
}

body.big-font .checkmark-list {
  font-size:22px;
  margin-top:15px;
  margin-bottom:15px;
}

body.big-font .banner-content .green-text, body.big-font .banner-content .fill-form {
  font-size:26px;
  max-width:450px;
}

body.big-font .banner-content .green-text {
  margin:15px 0 15px 10px;
}

body.big-font .button {
  font-size:24px;
  width:200px;
  padding-top:12px;
}

body.big-font .call-text {
  font-size:30px;
}

body.big-font .small-text, body.big-font .bottom-link {
  font-size:19px;
}

body.big-font .subpage p {
  font-size:20px;
}

body.big-font .icon-row h2 {
  font-size:30px;
}

body.big-font .icon-row h2 span {
  font-size:22px;
}

body.big-font .icon-row p {
  font-size:30px;
}

body.big-font .icon-box {
  min-height:360px;
}

body.big-font .icon-box:after {
  height:360px;
}

body.big-font .apply-link {
  font-size:54px;
}

body.big-font .luxury-assets-link {
  font-size:32px;
}

body.big-font h2 {
  font-size:34px;
}

body.big-font h3 {
  font-size:26px;
}

body.big-font .circle-big {
  font-size: 20px;
  line-height: 23px;
}

body.big-font .customer p {
  font-size:24px;
}

body.big-font .customer span {
  font-size:20px;
}

body.big-font .footer-links p {
  font-size:18px;
}

body.big-font .footer-links a {
  font-size:18px;
}

body.big-font .footer-links h4 {
  font-size:21px;
}

.media:nth-child(2) h3 {
  margin-top:25px;
}

div.center .button {
  float:none;
}

.subpage+.apply-link {
  margin-top:30px;
}

@media (min-width: 1200px) {
  .circle-big {
    left:370px;
  }
  .circle-small {
    left:300px;
  }
}

@media (max-width: 1200px) {
  .video-container {
    width:80%;
  }
  .main-banner .container-fluid {
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .form-container {
      background:none;
  }
  .form-container h2, .circle-header {
    margin-left:0;
  }
  .form-container h2 {
    margin-top:50px;
    margin-bottom:50px;
  }
  .form-box {
    margin-left:22px;
    width:95%;
  }
  label input, .long-input, label input:focus {
    width:100%;
    margin-left:0;
    margin-top:10px;
  }
  .nice-select {
    width:100% !important;
    margin-left:0;
    margin-top:10px;
  }
  .small-text {
    width:90%;
  }
  .footer-links h4 {
    width:100%;
    float:left;
    text-align:center;
  }
  .footer-links ul {
    float:left;
    width:100%;
    text-align:center;
  }
  .footer-links p, .footer-links ul {
    margin-top:0px;
    width:100%;
    text-align:center;
  }
  .footer-logo {
    float:none;
    margin-bottom:30px;
  }
  .footer-links .col-sm-3:first-child {
    text-align:center;
  }
  .contact-bar div {
    text-align:center !important;
  }
  .social-icons li {
    margin-left:10px;
  }
  .menu li {
    padding:15px 20px;
  }
  .homepage-content .col-md-4 p, .homepage-content .col-md-4 h4 {
    text-align:center;
    float:none;
    width:100%;
    max-width:100%;
  }
  .circle-big {
    left:356px;
    width:328px;
    height:328px;
    font-size:20px;
        padding: 105px 48px;
  }
  .video-container {
    width:100%;
  }
  .top-services img {
    width:100%;
  }
  .homepage-content .col-md-8 {
    min-height:400px;
  }
}

@media (min-width: 768px) {
  .banner-box-container {
    min-width:250px;
  }
}


@media (max-width: 768px) {
.menu {
  margin-left: 0px;
  float: none;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.menu li {
  padding:15px 15px;
  display:inline-block;
  float:none;
}
.top {
  text-align:center;
}
.logo {
  float:none;
}
.social-icons {
  float:none;
  width:100%;
  display: inline-block;
  text-align: center;
}
.social-icons li {
  float:none;
  display:inline-block;
}
.menu-bar {
  width:100%;
}

.circle-small {
  left:30px;
}
.circle-big {
  left:80px;
}

.logo-row li {
  width:50%;
}
.footer-links {
  padding:30px 0;
}
footer {
  text-align:center;
}
footer p {
  text-align:center;
  width:100%;
}
.social-links-bottom {
  float:none !important;
  width:100%;
  text-align:center;
}
.social-links-bottom li {
  display:inline-block;
  float:none;
}
}
@media (max-width: 480px) {
  .menu li {
    width:49%;
    border:none;
    background:#9bb606;
    margin-top:2px;
  }
  .menu li a {
    color:#FFFFFF;
  }
  .logo {
    margin-bottom:20px;
  }
  .circle-small {
    left:10%;
  }
  .circle-big {
    left:30px;
    top:130px;
  }
  .homepage-content .col-md-8 {
    min-height:450px;
  }
  .top-services .button {
    padding: 17px 13px;
  }
  .homepage-content h2, .customers-saying h2 {
    margin:30px 0;
  }
  .homepage-content h3, .customers-saying h3 {
    margin-bottom:30px;
  }
  .video-container {
    margin-top:30px;
  }
  .icon-row {
    padding: 30px 0;
  }
  .how-it-works {
    padding:40px 0;
    min-height:auto;
  }
  .customers-saying {
    min-height:auto;
    padding-bottom:70px;
  }
  .top-services a {
    margin-bottom:30px;
  }
  .top-services {
    padding-bottom:0;
  }
}

@charset "UTF-8";

@font-face {
  font-family: "socicon";
  src:url("../fonts/socicon.eot");
  src:url("../fonts/socicon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/socicon.woff") format("woff"),
    url("../fonts/socicon.ttf") format("truetype"),
    url("../fonts/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-modelmayhem:before {
  content: "\e000";
}
.socicon-mixcloud:before {
  content: "\e001";
}
.socicon-drupal:before {
  content: "\e002";
}
.socicon-swarm:before {
  content: "\e003";
}
.socicon-istock:before {
  content: "\e004";
}
.socicon-yammer:before {
  content: "\e005";
}
.socicon-ello:before {
  content: "\e006";
}
.socicon-stackoverflow:before {
  content: "\e007";
}
.socicon-persona:before {
  content: "\e008";
}
.socicon-triplej:before {
  content: "\e009";
}
.socicon-houzz:before {
  content: "\e00a";
}
.socicon-rss:before {
  content: "\e00b";
}
.socicon-paypal:before {
  content: "\e00c";
}
.socicon-odnoklassniki:before {
  content: "\e00d";
}
.socicon-airbnb:before {
  content: "\e00e";
}
.socicon-periscope:before {
  content: "\e00f";
}
.socicon-outlook:before {
  content: "\e010";
}
.socicon-coderwall:before {
  content: "\e011";
}
.socicon-tripadvisor:before {
  content: "\e012";
}
.socicon-appnet:before {
  content: "\e013";
}
.socicon-goodreads:before {
  content: "\e014";
}
.socicon-tripit:before {
  content: "\e015";
}
.socicon-lanyrd:before {
  content: "\e016";
}
.socicon-slideshare:before {
  content: "\e017";
}
.socicon-buffer:before {
  content: "\e018";
}
.socicon-disqus:before {
  content: "\e019";
}
.socicon-vkontakte:before {
  content: "\e01a";
}
.socicon-whatsapp:before {
  content: "\e01b";
}
.socicon-patreon:before {
  content: "\e01c";
}
.socicon-storehouse:before {
  content: "\e01d";
}
.socicon-pocket:before {
  content: "\e01e";
}
.socicon-mail:before {
  content: "\e01f";
}
.socicon-blogger:before {
  content: "\e020";
}
.socicon-technorati:before {
  content: "\e021";
}
.socicon-reddit:before {
  content: "\e022";
}
.socicon-dribbble:before {
  content: "\e023";
}
.socicon-stumbleupon:before {
  content: "\e024";
}
.socicon-digg:before {
  content: "\e025";
}
.socicon-envato:before {
  content: "\e026";
}
.socicon-behance:before {
  content: "\e027";
}
.socicon-delicious:before {
  content: "\e028";
}
.socicon-deviantart:before {
  content: "\e029";
}
.socicon-forrst:before {
  content: "\e02a";
}
.socicon-play:before {
  content: "\e02b";
}
.socicon-zerply:before {
  content: "\e02c";
}
.socicon-wikipedia:before {
  content: "\e02d";
}
.socicon-apple:before {
  content: "\e02e";
}
.socicon-flattr:before {
  content: "\e02f";
}
.socicon-github:before {
  content: "\e030";
}
.socicon-renren:before {
  content: "\e031";
}
.socicon-friendfeed:before {
  content: "\e032";
}
.socicon-newsvine:before {
  content: "\e033";
}
.socicon-identica:before {
  content: "\e034";
}
.socicon-bebo:before {
  content: "\e035";
}
.socicon-zynga:before {
  content: "\e036";
}
.socicon-steam:before {
  content: "\e037";
}
.socicon-xbox:before {
  content: "\e038";
}
.socicon-windows:before {
  content: "\e039";
}
.socicon-qq:before {
  content: "\e03a";
}
.socicon-douban:before {
  content: "\e03b";
}
.socicon-meetup:before {
  content: "\e03c";
}
.socicon-playstation:before {
  content: "\e03d";
}
.socicon-android:before {
  content: "\e03e";
}
.socicon-snapchat:before {
  content: "\e03f";
}
.socicon-twitter:before {
  content: "\e040";
}
.socicon-facebook:before {
  content: "\e041";
}
.socicon-googleplus:before {
  content: "\e042";
}
.socicon-pinterest:before {
  content: "\e043";
}
.socicon-foursquare:before {
  content: "\e044";
}
.socicon-yahoo:before {
  content: "\e045";
}
.socicon-skype:before {
  content: "\e046";
}
.socicon-yelp:before {
  content: "\e047";
}
.socicon-feedburner:before {
  content: "\e048";
}
.socicon-linkedin:before {
  content: "\e049";
}
.socicon-viadeo:before {
  content: "\e04a";
}
.socicon-xing:before {
  content: "\e04b";
}
.socicon-myspace:before {
  content: "\e04c";
}
.socicon-soundcloud:before {
  content: "\e04d";
}
.socicon-spotify:before {
  content: "\e04e";
}
.socicon-grooveshark:before {
  content: "\e04f";
}
.socicon-lastfm:before {
  content: "\e050";
}
.socicon-youtube:before {
  content: "\e051";
}
.socicon-vimeo:before {
  content: "\e052";
}
.socicon-dailymotion:before {
  content: "\e053";
}
.socicon-vine:before {
  content: "\e054";
}
.socicon-flickr:before {
  content: "\e055";
}
.socicon-500px:before {
  content: "\e056";
}
.socicon-wordpress:before {
  content: "\e058";
}
.socicon-tumblr:before {
  content: "\e059";
}
.socicon-twitch:before {
  content: "\e05a";
}
.socicon-8tracks:before {
  content: "\e05b";
}
.socicon-amazon:before {
  content: "\e05c";
}
.socicon-icq:before {
  content: "\e05d";
}
.socicon-smugmug:before {
  content: "\e05e";
}
.socicon-ravelry:before {
  content: "\e05f";
}
.socicon-weibo:before {
  content: "\e060";
}
.socicon-baidu:before {
  content: "\e061";
}
.socicon-angellist:before {
  content: "\e062";
}
.socicon-ebay:before {
  content: "\e063";
}
.socicon-imdb:before {
  content: "\e064";
}
.socicon-stayfriends:before {
  content: "\e065";
}
.socicon-residentadvisor:before {
  content: "\e066";
}
.socicon-google:before {
  content: "\e067";
}
.socicon-yandex:before {
  content: "\e068";
}
.socicon-sharethis:before {
  content: "\e069";
}
.socicon-bandcamp:before {
  content: "\e06a";
}
.socicon-itunes:before {
  content: "\e06b";
}
.socicon-deezer:before {
  content: "\e06c";
}
.socicon-telegram:before {
  content: "\e06e";
}
.socicon-openid:before {
  content: "\e06f";
}
.socicon-amplement:before {
  content: "\e070";
}
.socicon-viber:before {
  content: "\e071";
}
.socicon-zomato:before {
  content: "\e072";
}
.socicon-quora:before {
  content: "\e073";
}
.socicon-draugiem:before {
  content: "\e074";
}
.socicon-endomodo:before {
  content: "\e075";
}
.socicon-filmweb:before {
  content: "\e076";
}
.socicon-stackexchange:before {
  content: "\e077";
}
.socicon-wykop:before {
  content: "\e078";
}
.socicon-teamspeak:before {
  content: "\e079";
}
.socicon-teamviewer:before {
  content: "\e07a";
}
.socicon-ventrilo:before {
  content: "\e07b";
}
.socicon-younow:before {
  content: "\e07c";
}
.socicon-raidcall:before {
  content: "\e07d";
}
.socicon-mumble:before {
  content: "\e07e";
}
.socicon-medium:before {
  content: "\e06d";
}
.socicon-bebee:before {
  content: "\e07f";
}
.socicon-hitbox:before {
  content: "\e080";
}
.socicon-reverbnation:before {
  content: "\e081";
}
.socicon-formulr:before {
  content: "\e082";
}
.socicon-instagram:before {
  content: "\e057";
}
.socicon-battlenet:before {
  content: "\e083";
}
.socicon-chrome:before {
  content: "\e084";
}
.socicon-diablo:before {
  content: "\e085";
}
.socicon-discord:before {
  content: "\e086";
}
.socicon-issuu:before {
  content: "\e087";
}
.socicon-macos:before {
  content: "\e088";
}
.socicon-firefox:before {
  content: "\e089";
}
.socicon-heroes:before {
  content: "\e08a";
}
.socicon-hearthstone:before {
  content: "\e08b";
}
.socicon-overwatch:before {
  content: "\e08c";
}
.socicon-warcraft:before {
  content: "\e08e";
}
.socicon-opera:before {
  content: "\e08d";
}
.socicon-starcraft:before {
  content: "\e08f";
}
.socicon-keybase:before {
  content: "\e090";
}
.socicon-alliance:before {
  content: "\e091";
}
.socicon-livejournal:before {
  content: "\e092";
}
.socicon-googlephotos:before {
  content: "\e093";
}
.socicon-horde:before {
  content: "\e094";
}
.socicon-etsy:before {
  content: "\e095";
}
.socicon-zapier:before {
  content: "\e096";
}
.socicon-google-scholar:before {
  content: "\e097";
}
.socicon-researchgate:before {
  content: "\e098";
}
.socicon-wechat:before {
  content: "\e099";
}
.socicon-strava:before {
  content: "\e09a";
}
.socicon-line:before {
  content: "\e09b";
}
.socicon-lyft:before {
  content: "\e09c";
}
.socicon-uber:before {
  content: "\e09d";
}
.socicon-songkick:before {
  content: "\e09e";
}
.socicon-viewbug:before {
  content: "\e09f";
}
